<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/admin.css">
    <title>Admin</title>
</head>
<body>
    hello Admin

    
    <form action="/login" method="post">
    <input type="button" id="clientdetails" name="clientdetails" value="client">
    <br>
    <div class="card" id="workerdetails" name="workerdetails">worker details</div>
    <br>
    <div class="card" id="approve" name="approve">approve</div>
    </body>
</form>
</body>
</html>